# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# C++ specific
*.gch
*.pch

# Other
*.swp
*.log
*.DS_Store
*.ilk
*.pdb
books/C++ Primer 5th ed.pdf
.vscode/tasks.json
games202/
CalculatorTutorial/
algorithms/algorithms/x64/
*.suo
algorithms/.vs/
algorithms/*/x64/
primer/cp6/
primer/cp8/
primer/code/out/
*/*/x64/
*/*/.vs/
.vs/
helloworld/
/qt/fbx_pipeline/out
/qt/QtFbx/out/build
/qt/QtFbx/.vs
/primer/code/*/.vs
/*/.vs
algorithms/sparsematrix
primer/code/*/out/
primer/cp8/
!primer/code/.vs/launch.vs.json
